<div class="container show-container mt-5" style="color: white;">

  <% if @cocktail.images.first %>
    <div class="show show-main" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('<%= cl_image_path(@cocktail.images.first.key, crop: :fill) %>')">
      <h1><%= @cocktail.name %></h1>
    </div>
  <% else %>
    <div class="show show-main" style="background-image: url('https://img.huffingtonpost.com/asset/5d82451624000012277db481.jpeg?cache=qhb5meqc4c&ops=scalefit_720_noupscale&format=webp')">
      <h1><%= @cocktail.name %></h1>
    </div>
  <% end %>
  <div class="show ingredients my-4 p-4">
    <h3>Doses</h3>
    <%= render "doses/index", doses: @doses %>
  </div>


  <div class="add-ingredients p-4 my-4 show">
    <%= render "doses/new", cocktail: @cocktail, dose: @dose %>
  </div>

  <%= link_to "Back to Cocktails list", root_path, class: "btn btn-dark m-3" %>
</div>


<style type="text/css">
  .show-container {
    max-width: 80%;
    overflow-x: hidden;
  }
</style>